body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}


.hero-section {
    width: 100%;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 20px 400px 0 400px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.intro-container {
    display: flex;
    gap: 100px;
    padding: 80px 400px;
}

.intro-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.intro-header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.intro-text {
    color: #E5E7EB;
    font-size: 18px;
}

.button-one,
.button-two {
    flex: 0 0 auto;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    width: 105px;
    padding: 8px 20px;
    border-radius: 8px;
}

.button-one {
    border-style: none;
}

.intro-image {
    flex: 1 0 0;
    background-color: gray;
    color: #F9FAF8;
    aspect-ratio: 3 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 25px;
    padding: 40px 100px 70px 100px;
}

.info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.info-container {
    display: flex;
    gap: 50px;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.info-image {
    width: 125px;
    height: 125px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 5px;
}

.info-text {
    width: 125px;
    text-align: center;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #E5E7EB;  
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    margin: 50px 500px 10px 500px;
}

.quote-source {
    text-align: right;
    margin: 0 500px 50px 500px;
}

.sign-up-section {
    width: 100%;
}

.sign-up-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 30px 100px;
    margin: 50px 400px;
}

.sign-up-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.sign-up-header {
    font-weight: 900;
}

.button-two {
    border-style: solid;
    border-color: #F9FAF8;
}

.footer {
    width: 100%;
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 30px 0;
}